@import url("https://fonts.googleapis.com/css?family=Play:700");

body {
  background: url(images/background.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 70vh;
  font-family: "Play", sans-serif;
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.calc-btn {
  background-color: #353535;
  color: white;
  width: 56px;
  height: 7vh;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  padding-top: 4vh;
}

.calc-btn:hover {
  background-color: #d59100;
}

.row {
  display: table;
  table-layout: fixed;
  width: 25vw;
  margin: 0;
  padding: 0;
}

.column {
  display: table-cell;
}

#calc-display-val {
  width: 200px;
  height: 52px;
  color: white;
  text-align: right;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  font-size: 48px;
  background-color: #1a1a1a;
  overflow: hidden;
  white-space: nowrap;
  padding: 15px;
  border-radius: 7px 7px 0 0;
}

h1 {
  text-align: center;
  margin: 4vh;
  font-size: 5vh;
  padding: 4vh;
}

#calc-equal {
  border-radius: 0 0 7px 0;
}

#calc-zero {
  width: 114px;
  border-radius: 0 0 0 7px;
}

#calc-clear {
  width: 114px;
}
#calc-decimal {
  width: 56px;
  text-align: center;
  padding-left: 0;
}

.calc-btn-operator {
  background-color: #515151;
  color: white;
  width: 56px;
  text-align: center;
  padding: 0px;
}
.calc-btn-operator:hover {
  background-color: #d59100;
}

#calc-parent {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: /*10px 10px 5px grey;*/ 0 1px 80px 0 rgba(0, 0, 0, 0.4),
    0 1px 80px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  body {
    height: 90vh;
  }
  h1 {
    font-size: 5vh;
  }

  .row {
    width: 80vw;
    height: 10vh;
    margin: 0;
    padding: 0;
  }
  .calc-btn {
    padding-top: 3vh;
    font-size: 4vh;
  }
  #calc-display-val {
    font-size: 5vh;
    padding: 3vh;
  }
  #calc-parent {
    padding-top: 5px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 900px) {
  body {
    height: 90vh;
  }
  h1 {
    font-size: 5vh;
  }

  .row {
    width: 80vw;
    height: 10vh;
    margin: 0;
    padding: 0;
  }
  .calc-btn {
    padding-top: 3vh;
    font-size: 4vh;
  }
  #calc-display-val {
    font-size: 5vh;
    padding: 3vh;
  }
  #calc-parent {
    padding-top: 5px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}
